In [122]:
#Electric Utilities report a huge amount of information to government and public agencies. They include very granular data on fuel burned, electricity generated, power plant usage patterns, plant capacity factors and emissions from greenhouse gases. Using these data, i have generated a few insights.

#Step1: To carry out this project, i had to import the necessary libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression

<b>Step2:</b> Read through the data. It is important to discover each dataset. This step is about getting to know the data and understanding what has to be done before the data becomes useful in a particular context.

In [123]:
data = pd.read_csv('energydata_complete.csv')
data.head(3)

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668

In [124]:
data = data.drop(['date'], axis=1)

In [125]:
# Normalizing the dataset with MinMaxScaler.
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaled_df = scaler.fit_transform(data)
scaled_data = pd.DataFrame(data = scaled_df, columns = data.columns)
scaled_data.head()

C:\Users\MR BUNMI\Anaconda3\envs\AV-BUNMI\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.428571,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.428571,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.428571,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.571429,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.571429,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

In [126]:
data = scaled_data[['T2', 'T6']]

In [127]:
data.head(3)

         T2        T6
0  0.225345  0.381070
1  0.225345  0.375443
2  0.225345  0.367487

In [128]:
# Splitting into X and Y variables.
Val1 = data['T2']
Val2 = data['T6']

In [129]:
Val1 = pd.DataFrame(data['T2'], columns=['X'])

In [130]:
Val1 = data[['T2']]

In [131]:
# Splitting into train and test sets.

x_train, x_test, y_train, y_test = train_test_split(Val1, Val2, test_size=0.3, random_state=42)

In [132]:
# Training a linear model.

model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [133]:
# Making Prediction.

y_pred = model.predict(x_test)

In [134]:
# R2

model_r2 = r2_score(y_test, y_pred)
round(model_r2, 2)

0.64

In [135]:
# Splitting the data into X and Y variables.

Val3 = scaled_data.drop(['Appliances', 'lights'], axis=1)
Val4 = scaled_data['Appliances']

In [136]:
# Splitting the data into train and test sets.

x_train, x_test, y_train, y_test = train_test_split(Val3, Val4, test_size=0.3, random_state=42)

In [137]:
# Linear Regression.

model2 = LinearRegression()
model2.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [138]:
# Making Prediction.

y_pred2 = model2.predict(x_test)

In [139]:
# MAE

mae_model2 = mean_absolute_error(y_test, y_pred2)
round(mae_model2, 2)

0.05

In [140]:
# RSS

rss_model2 = np.sum(np.square(y_test - y_pred2))
round(rss_model2, 2)

45.35

In [141]:
# R2

r2_model2 = r2_score(y_test, y_pred2)
round(r2_model2, 2)

0.15

In [142]:
# RMSE

rmse_model2 = np.sqrt(mean_squared_error(y_test, y_pred2))
round(rmse_model2, 3)

0.088

In [143]:
# Ridge Regression.
from sklearn.linear_model import Ridge

ridge = Ridge(alpha=0.4)
ridge.fit(x_train, y_train)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [144]:
# Making Prediction.

y_pred3 = ridge.predict(x_test)

In [145]:
# RMSE

rmse_ridge = np.sqrt(mean_squared_error(y_test, y_pred3))
round(rmse_ridge, 3)

0.088

In [146]:
# Lasso Regression.
from sklearn.linear_model import Lasso

lasso = Lasso(alpha=0.001)
lasso.fit(x_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False)

In [147]:
# Prediction

y_pred3 = lasso.predict(x_test)

In [148]:
# RMSE

rmse_lasso = np.sqrt(mean_squared_error(y_test, y_pred3))
round(rmse_lasso, 3)

0.094

In [149]:
def get_model_weights(model, feat, col_name):
    # this function returns the weight of every feature
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

In [150]:
linear_model_weights = get_model_weights(model2, x_train, 'Linear_Model_Weight')
ridge_weights_df = get_model_weights(ridge, x_train, 'Ridge_Weight')
lasso_weights_df = get_model_weights(lasso, x_train, 'Lasso_Weight')
weights_df = pd.merge(linear_model_weights, ridge_weights_df, on = 'Features')
weights_df = pd.merge(weights_df, lasso_weights_df, on = 'Features')

In [151]:
weights_df

       Features  Linear_Model_Weight  Ridge_Weight  Lasso_Weight
0          RH_2            -0.456698     -0.411071     -0.000000
1         T_out            -0.321860     -0.262172      0.000000
2            T2            -0.236178     -0.201397      0.000000
3            T9            -0.189941     -0.188916     -0.000000
4          RH_8            -0.157595     -0.156830     -0.000110
5        RH_out            -0.077671     -0.054724     -0.049557
6          RH_7            -0.044614     -0.045977     -0.000000
7          RH_9            -0.039800     -0.041367     -0.000000
8            T5            -0.015657     -0.019853     -0.000000
9            T1            -0.003281     -0.018406      0.000000
10          rv1             0.000770      0.000748     -0.000000
11          rv2             0.000770      0.000748     -0.000000
12  Press_mm_hg             0.006839      0.006584     -0.000000
13           T7             0.010319      0.010098     -0.000000
14   Visibility             0.012307      0.012076      0.000000
15         RH_5             0.016006      0.016152      0.000000
16         RH_4             0.026386      0.024579      0.000000
17           T4             0.028981      0.027384     -0.000000
18    Windspeed             0.029183      0.030268      0.002912
19         RH_6             0.038049      0.035519     -0.000000
20         RH_3             0.096048      0.095135      0.000000
21           T8             0.101995      0.101028      0.000000
22    Tdewpoint             0.117758      0.083128      0.000000
23           T6             0.236425      0.217292      0.000000
24           T3             0.290627      0.288087      0.000000
25         RH_1             0.553547      0.519525      0.017880